:root {
  --mainColor: rgb(233, 233, 233);
  --secondarycol: #1289a7;
  --txtcol: rgb(95, 87, 87);
  --textcol: rgb(46, 45, 45);
  --bordercol: #3a2c2c;
  --themeDotBorder: #24292e;
  --previewcol: rgba(251, 249, 243, 0.8);
  --preshadow: rgb(241, 224, 224);
  --buttonColor: black;
  --linkColor: rgb(96, 205, 209);
}
